.planetlist
	position: relative
	width: 100%
	margin: 100px auto 100px auto

	&__list
		position: relative
		width: 100%
		min-height: 50vh
		padding: 0
		margin: 0
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: flex-start
		flex-wrap: wrap

		&::before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 2px
			height: 100%
			background: white
			z-index: -1
			opacity: .15

		&-item
			position: relative
			width: 100%
			margin: 50px 0
			font-size: 1.6rem
			display: flex
			z-index: 1
			align-items: center
			justify-content: center


	&__planet-name
		position: absolute
		display: flex
		align-items: center
		left: 0

		p
			padding-left: 20px
			cursor: default
			transition: all .3s ease
			font-weight: 400
			color: $color--text--accent

		i
			position: absolute
			left: -6px
			font-size: 1.5rem


