.sort
	display: flex
	justify-content: center
	align-items: center

	h2
		font-family: $font--primary
		font-weight: 400
		font-size: 1.5rem
		text-transform: uppercase
		cursor: default

	label
		font-size: 1.5rem
		margin: 0 20px

	input
		font-size: 1.4rem
		font-weight: 300
		cursor: pointer
		transition: all .3s ease

		&:hover
			color: $color--text--accent


.sortActive
	color: $color--text--accent !important


@media screen and (min-width: 360px) and (max-width: 980px)
	.sort
		flex-direction: column

		h2
			font-size: 1.7rem
			padding-bottom: 15px

		input
			margin: 15px 0
