.isActive
	background: $color--text--accent
	border-bottom: 1px solid transparent !important

.pagination
	position: relative
	width: 100vw
	height: 10em

	&__list
		width: 100%
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center

	&__prev, &__next, &__page
		margin: 0 15px
		font-size: 1.5rem
		text-transform: uppercase
		cursor: pointer
		padding: 10px 15px
		transition: all .3s ease
		border-bottom: 1px solid white

	&__page

		&:hover
			background: $color--text--accent

	&__prev, &__next
		background: $color--background

		&:hover
			background: $color--text--accent

	&__prev:disabled, &__next:disabled
		opacity: .25

		&:hover
			background: transparent

@media screen and (min-width: 360px) and (max-width: 980px)
	.pagination

		&__page
			display: none

		&__list
			padding: 0
			margin: 0
